* {
	margin: 0px;
	font-family: "jost";
}
@font-face{
	font-family:'modular';
	src: url(fonts/modular.ttf);
}

header{
	display: flex;
	justify-content: space-between;
	
}
.navigation{
	display: flex;
	margin-right:65px;
	margin-top: 25px;
	list-style: none;
	
}
h1{
	font-family: 'modular', sans-serif;
	color: #000;
	margin-left: 10%;
	flex: 1;
	margin-top: 25px;
	font-size: 40px;
	
		
}

.navlink{
	margin: 10px;
}
a{
	text-decoration: none;
	color: #000;
}
.videogum{
	width: 100%;
}
/*about*/
.about{
	background-color: #FFF5F5;
	
}
.abouttext{
	margin: 50px 140px 
}
.videodiv{
	display: flex;
	justify-content: center;
	
}
.videome{

	width: 25%;
	margin: 45px 0px 30px;
}
h2{

	text-align: center;
	font-family: 'modular';
	font-size: 50px;
	margin-top: 
}

.projectstitle{
	background-color: #F8BBD9;
	padding: 50px
	
}
h3{
	text-align: center;
	font-family: 'modular';
	font-size: 50px;
}
/*about*/
/*project*/
.project1{
	display: flex;
	background-color: #D7F8FF
}
.projectimg{
	width: 50%
}

.project1div{
	text-align: center;
	padding-top: 30px;
	margin: 20px
	
}
h4{
	font-family: "modular";
	font-size: 30px;
	margin-bottom: 40px;
}
.projecttext{
	margin: 10px 80px
}
.proj2{
	background-color: #6BA368;
}
/*project*/
/*footer*/
footer{
	text-align: center;
	background-color: #FFF5F5;
	
}
h5{
	font-family: 'modular', sans-serif;
	color: #000;
	padding: 40px 0px;
	font-size: 60px;
	
}
.contacttext{
	font-size: 20px
;}
.socialstext{
	padding:40px 0px 0px 0px;
}

.icons
{
	width: 5%;
	margin: 0px 10px; 
}
.socials{
	display: flex;
	justify-content: center;
	margin-bottom: 25px
}














