* {
	margin: 0px;
	font-family: "jost";
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: #FFF5F5;
}
@font-face{
	font-family:'modular';
	src: url(fonts/modular.ttf);
}

header{
	display: flex;
	justify-content: space-between;
	
background-color: #fff
}
.navigation{
	display: flex;
	margin-right:65px;
	margin-top: 25px;
	list-style: none;
	
	
}
h1{
	font-family: 'modular', sans-serif;
	color: #000;
	margin-left: 10%;
	flex: 1;
	margin-top: 25px;
	font-size: 40px;
	
		
}
p{
	color: #000;
}

.navlink{
	margin: 10px;
}
a{
	text-decoration: none;
	color: #000;
}
.videogum{
	width: 100%;
}
.gumphone{
	display: none;
}
/*about*/
.about{
	background-color: #FFF5F5;
	
}
.abouttext{
	margin: 50px 140px 50px;
		text-align: center;
}
.videodiv{
	display: flex;
	justify-content: center;
	
}
.videome{

	width: 25%;
	margin: 45px 0px 30px;
}
h2{

	text-align: center;
	font-family: 'modular';
	font-size: 50px;
	margin-top: 
}

.projectstitle{
	background-color: #F8BBD9;
	padding: 50px
	
}
h3{
	text-align: center;
	font-family: 'modular';
	font-size: 50px;
}
/*about*/
/*project*/
.project1{
	display: flex;
	background-color: #D7F8FF
}
.projectimg{
	width: 50%
}

.project1div{
	text-align: center;
	padding-top: 30px;

	width:50%;
	
}
h4{
	font-family: "modular";
	font-size: 30px;
	margin-bottom: 40px;
}
.projecttext{
	margin: 10px 80px
}
.proj2{
	background-color: #6BA368;
}
.proj3{
	background-color: #7D5BA5;
}
.proj4{
	background-color: #FF7E12;
}
.proj5{
	background-color: #FEFCC7;
}
.imgphone{
	display: none;
}
/*project*/
/*footer*/
footer{
	text-align: center;
	background-color: #FFF5F5;
	
}
h5{
	font-family: 'modular', sans-serif;
	color: #000;
	padding: 40px 0px;
	font-size: 60px;
	
}
.contacttext{
	font-size: 20px
;}
.socialstext{
	padding:40px 0px 0px 0px;
}

.icons
{
	width: 5%;
	margin: 0px 10px; 
}
.socials{
	display: flex;
	justify-content: center;
	margin-bottom: 25px
}

@media screen and (max-width:728px){

	h1{
	font-family: 'modular', sans-serif;
	color: #000;
	margin-left: 10%;
	margin-top: 30px;
	font-size:30px;
	
		
}
	.videogum{
		display: none;
		
	}
	.gumphone{
		display: block;
		width: 100%
	}
	.project1{
		display: block;
	}
	.projectimg{
		display: none;
	}
	.project1div{
	text-align: center;
	
	width:100%;
	
}
	.projecttext{
	margin: 10px 40px
}
	.imgphone{
	display: block;
	width: 100%
}
	.abouttext{
	margin: 50px 70px;
	text-align: center;
}
	h5{
		font-size: 50px;
		padding: none;
	}
}












